.exd-header {
  height: 60px;
  border-bottom: 2px solid black;
}

.exd-ticket {
  text-decoration-color: black;
  margin: 20px;
}

.green-select .ant-select-selection {
  width: 150px;
  background-color: lightgreen;
}

.red-select .ant-select-selection {
  width: 150px;
  background-color: lightcoral;
}

.label-text {
  font-size: small;
}

.submit-order-button {
  margin-top: 50px;
}

.exd-spinner {
  margin-left: 50%;
  margin-top: 50px;
}

.green-cell {
  background-color: lightgreen;
  color: white;
}

.red-cell {
  background-color: lightcoral;
  color: white;
}
